<div class="mask d-flex align-items-center h-75">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                        <form [formGroup]="registerForm" (ngSubmit)="createNewUser()">
                            <div class="form-outline mb-4">
                                <input type="text" required mdbValidate mdbInput formControlName="userName" id="name"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="name">Your Name</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="email" formControlName="email" id="email"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="email">Your Email</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" formControlName="password" min="6" id="pass"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="pass">Password</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" formControlName="confirmPassword" min="6" id="confirmpass"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="confirmpass">Repeat your password</label>
                            </div>
                            <ng-container *ngIf="formSubmitted">
                                <div *ngIf="registerForm.get('userName').errors?.required">
                                    UserName is required
                                </div>
                                <div *ngIf="registerForm.get('email').errors?.required">
                                    Email is required
                                </div>
                                <div *ngIf="registerForm.get('email').errors?.pattern">
                                    Invalid Email
                                </div>
                                <div *ngIf="registerForm.get('password').errors?.required">
                                    Password is required
                                </div>
                                <div *ngIf="registerForm.get('confirmPassword').errors?.required">
                                    Retype Password
                                </div>
                                <div *ngIf="errorMsg!=''">
                                    {{errorMsg}}
                                </div>
                            </ng-container>
                            <div class="d-flex justify-content-center">
                                <button type="submit"
                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                            </div>

                            <p class="text-center text-muted mt-5 mb-0">Have already an account? <a
                                    [routerLink]="['./login']" class="fw-bold text-body"><u>Login here</u></a></p>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>